.popup__box {
    width: 430px;
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    background: #fff;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1024px) {
    .popup__box {
        width: 282px;
    }
}