.profile__info {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    align-items: baseline;
    column-gap: 18px;
    row-gap: 16px;
}

@media screen and (max-width: 1024px) {
    .profile__info {
        row-gap: 7px;
        width: 282px;
        grid-template-columns: 1fr;
        position: relative;
    }
}