.element {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    background: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: 282px 79px;
}